; editor configuration powered by http://editorconfig.org/
root = true

[*]
indent_style = tab
#curly_bracket_next_line = false
insert_final_newline = true
end_of_line = lf
trim_trailing_whitespace = true

[*.cs]
csharp_style_namespace_declarations = file_scoped
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_group = true
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_case_contents_when_block = false
csharp_indent_labels = flush_left
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_parentheses = none
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_event = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
dotnet_style_require_accessibility_modifiers = always:warning
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:warning
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_prefer_braces = true:warning
dotnet_naming_rule.ConstantFields.severity = warning
dotnet_naming_rule.ConstantFields.symbols = ConstantFields
dotnet_naming_rule.ConstantFields.style = UPPER_CASE
dotnet_naming_symbols.ConstantFields.applicable_kinds = field
dotnet_naming_symbols.ConstantFields.required_modifiers = const
dotnet_naming_rule.PublicReadonlyStatic.severity = warning
dotnet_naming_rule.PublicReadonlyStatic.symbols = PublicReadonlyStatic
dotnet_naming_rule.PublicReadonlyStatic.style = PascalCase
dotnet_naming_symbols.PublicReadonlyStatic.applicable_kinds = field,property
dotnet_naming_symbols.PublicReadonlyStatic.required_modifiers = readonly,static,public
dotnet_naming_rule.ReadonlyStatic.severity = warning
dotnet_naming_rule.ReadonlyStatic.symbols = ReadonlyStatic
dotnet_naming_rule.ReadonlyStatic.style = UPPER_CASE
dotnet_naming_symbols.ReadonlyStatic.applicable_kinds = field
dotnet_naming_symbols.ReadonlyStatic.required_modifiers = readonly,static
dotnet_naming_style.UPPER_CASE.word_separator = _
dotnet_naming_style.UPPER_CASE.capitalization = all_upper
dotnet_naming_rule.PrivateFields.severity = warning
dotnet_naming_rule.PrivateFields.symbols = PrivateFields
dotnet_naming_rule.PrivateFields.style = UnderscoreCamel
dotnet_naming_symbols.PrivateFields.applicable_kinds = field
dotnet_naming_symbols.PrivateFields.applicable_accessibilities = private,protected,protected_internal
dotnet_naming_style.UnderscoreCamel.required_prefix = _
dotnet_naming_style.UnderscoreCamel.capitalization = camel_case
dotnet_naming_rule.Interfaces.severity = warning
dotnet_naming_rule.Interfaces.symbols = Interfaces
dotnet_naming_rule.Interfaces.style = StartsWithI
dotnet_naming_symbols.Interfaces.applicable_kinds = interface
dotnet_naming_style.StartsWithI.required_prefix = I
dotnet_naming_style.StartsWithI.capitalization = pascal_case
dotnet_naming_rule.MethodClassNamespace.severity = warning
dotnet_naming_rule.MethodClassNamespace.symbols = MethodClassNamespace
dotnet_naming_rule.MethodClassNamespace.style = PascalCase
dotnet_naming_symbols.MethodClassNamespace.applicable_kinds = event,enum,property,class,struct,method
dotnet_naming_style.PascalCase.capitalization = pascal_case
dotnet_naming_rule.PublicReadonlyField.severity = warning
dotnet_naming_rule.PublicReadonlyField.symbols = PublicReadonlyField
dotnet_naming_rule.PublicReadonlyField.style = PascalCase
dotnet_naming_symbols.PublicReadonlyField.applicable_kinds = field
dotnet_naming_symbols.PublicReadonlyField.applicable_accessibilities = public
dotnet_naming_symbols.PublicReadonlyField.required_modifiers = readonly
dotnet_naming_rule.FieldParameter.severity = warning
dotnet_naming_rule.FieldParameter.symbols = FieldParameter
dotnet_naming_rule.FieldParameter.style = CamelCase
dotnet_naming_symbols.FieldParameter.applicable_kinds = parameter,field
dotnet_naming_style.CamelCase.capitalization = camel_case

# CS8524: The switch expression does not handle some values of its input type (it is not exhaustive) involving an unnamed enum value.
dotnet_diagnostic.CS8524.severity = silent
